In [9]:
import numpy as np
import pandas as pd
import cv2
import pytesseract

import os
from glob import glob
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

In [10]:
imgPaths = glob('../Selected/*.jpeg')

In [11]:
imgPath = imgPaths[0]
print(imgPath)
_, filename = os.path.split(imgPath)
print(filename)

../Selected\001.jpeg
001.jpeg

In [12]:
allBusinessCard = pd.DataFrame(columns=['id','text'])

for imgPath in  tqdm(imgPaths,desc='BusinessCard'):
    
    #imgPath = imgPaths[0]
    _, filename = os.path.split(imgPath)
    # extract data and text 
    image = cv2.imread(imgPath)
    data = pytesseract.image_to_data(image)
    dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
    df = pd.DataFrame(dataList[1:],columns=dataList[0])
    df.dropna(inplace=True)
    df['conf'] = df['conf'].astype(int)

    useFulData = df.query('conf >= 30')

    # Dataframe
    businessCard = pd.DataFrame()
    businessCard['text'] = useFulData['text']
    businessCard['id'] = filename
    
    # concatenation
    allBusinessCard = pd.concat((allBusinessCard,businessCard))

BusinessCard: 100%|████████████████| 217/217 [11:33<00:00,  3.20s/it]

In [13]:
allBusinessCard

          id         text
4   001.jpeg  CERTIFICATE
8   001.jpeg   INTERNSHIP
12  001.jpeg           We
13  001.jpeg      present
14  001.jpeg         this
..       ...          ...
58  100.jpeg         2023
60  100.jpeg       Length
61  100.jpeg         19.5
62  100.jpeg        total
63  100.jpeg        hours

[15458 rows x 2 columns]

In [14]:
allBusinessCard.to_csv('businessCard.csv',index=False)